#a1{
    background-color: yellow;
}
#b1:hover{
    color: red;
}
#b1{
    background-color: green;
}
#b1:hover{
        color: yellow;
}
#c1{
    color: rgb(230, 101, 101);
}
#c1:hover{
    color: rgb(34, 7, 153);
    font-size: 18px;
}
.abc{ 
    color: blueviolet;
}
#intocolor{
    font-size: 40px;
}
#intocolor:hover{
    font-size: 50px;color: red;

}
.hclass{
    color: equa;
    font-style: italic;
}
